{% extends 'admin/base.html.twig' %}

{% block title %}Administrators{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table table-hover">
            <tr class="text-center">
                <th>Id</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                {% set confirm = '' %}
                {% if app.user.id == user.id %}
                    {% set confirm = 'return confirm("Are you sure you want to delete yourself ?");' %}
                {% endif %}

                <tr class="text-center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.emailCanonical }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        <a href="{{ path('admin_user_edit',{'id':user.id}) }}" class="btn btn-primary"><i
                                    class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_user_delete',{'id':user.id}) }}" onclick="{{ confirm }}" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="button">
            <a href="{{ path('admin_user_add') }}" class="btn btn-primary btn-admin">Add user</a>
        </div>
    </div>

{% endblock %}
