{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3 connectionbox">
                    <h2 class="title_request">Create Account</h2>
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.plainPassword) }}
                    <div>
                        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
