{% extends 'admin/base.html.twig' %}

{% block title %}Answers{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table table-hover">
            <tr class="text-center">
                <th>Question</th>
                <th>Statement</th>
                <th>Correctif</th>
                <th>Points</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            {% for answer in pagination.data %}
                {% set confirm = 'return confirm("Are you sure you want to delete the answer ?");' %}

                <tr class="text-center">
                    <td>{{ answer.question.question }}</td>
                    <td>{{ answer.answer }}</td>
                    <td>{{ answer.isCorrect }}</td>
                    <td>{{ answer.point }}</td>
                    <td>{{ answer.createdAt|date('Y-m-d') }}</td>
                    <td>{{ answer.updatedAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('admin_answer_edit',{'id':answer.id}) }}" class="btn btn-primary"><i
                                    class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_answer_delete',{'id':answer.id}) }}" onclick="{{ confirm }}" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ pagination.display() }}
        {# include 'admin/partials/pagination.html.twig' with {'route':'admin_answer_list'} #}
        <div class="button">
            <a href="{{ path('admin_answer_add') }}" class="btn btn-primary btn-admin">Add answer</a>
        </div>
    </div>
{% endblock %}
