{% extends 'site/quiz/base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h3 class="my-5">{{ 'page.quiz.title' | trans() }}</h3>
            <div class="row">
                {% for quizzes in pagination.data %}
                <div class="offset-1 col-5">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{ quizzes.title }}
                        </div>
                        <div class="card-body">
                            <p>{{ quizzes.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('quiz_show',{'slug':quizzes.slug}) }}" class="btn btn-warning">Répondre</a>
                        </div>
                    </div>

                </div>
                {% endfor %}
                {{ pagination.display() }}
                {# include 'partials/pagination.html.twig' with {'route':'quizzes'} #}
            </div>
    </div>

{% endblock %}
