{% extends 'admin/base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Categories</th>
                <th>Sending Email</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in pagination.data %}
                {% set confirm = 'return confirm("Are you sure you want to delete the quiz ?");' %}

                <tr class="text-center">
                    <td>{{ quiz.id }}</td>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.slug }}</td>
                    <td>{{ quiz.categoriesName|join(', ') }}</td>
                    <td>{{ quiz.sendingEmail }}</td>
                    <td>{{ quiz.createdAt|date('Y-m-d') }}</td>
                    <td>{{ quiz.updatedAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('admin_quiz_edit', {'id':quiz.id}) }}" class="btn btn-primary"><i
                                    class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_quiz_delete', {'id':quiz.id}) }}" onclick="{{ confirm }}" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></a>
                        <a href="{{ path('quiz_show', {'slug':quiz.slug}) }}"
                            class="btn btn-warning"><i class="fas fa-arrow-circle-right"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.display() }}
        {# include 'admin/partials/pagination.html.twig' with {'route':'admin_quiz_list'} #}
        <div class="button">
            <a href="{{ path('admin_quiz_add') }}" class="btn btn-primary btn-admin">Add quiz</a>
        </div>
    </div>
{% endblock %}
